In [1]:
2 + 2

4

In [2]:
%whos

Interactive namespace is empty.

In [3]:
z * x * y

NameError: name 'z' is not defined

In [4]:
3 + 3

6

In [5]:
2 ** 4

16

In [6]:
2 * 2 * 4 *

SyntaxError: invalid syntax (1651606889.py, line 1)

In [7]:
2 * 2 * 4 * 4

64

In [8]:
4 ** 3

64

In [9]:
2 + 2

3 + 3

5 ** 2

7 * 4

28

In [10]:
print ( 2 + 2 ) 
print ( 3 + 3 )
print ( 5 ** 2 )
print ( 7 * 4 )

4
6
25
28

In [11]:
# Hashtags are comments in code cells

## This is a comment

### This is another example of a comment

### Running the shell shows the comments, but does not run them

### print (2+3) 

## We need to use comments to describe what we are doing

In [12]:
### use the print function to print a line 
print (2+3)

5

In [13]:
# Our lines are by default code cells, but we can change them to things like markdown

This is an example of a markdown code cell
While it is markdown, it is not code and will not act as code

Here is an example of it in action:
print (2+5)

In [14]:
# We can change it back to code and change the cell back to what it was, we can also change current cells as well

# This is markdown, but not a comment
## This is also not a comment
### This is still not a comment

These simply create section headers
Commonly found in readme.md files to express what the repository does for a user more easily than exploring the entire code
We are able to include markdown with our code to create nice section headers
This is crucial for organizing notebooks and files

# Our First Notebook
We can use markdown text to create a well formatted and organized template for our code
## A simple code cell that we might see 
Below is a code cell that prints the results of simple mathematical operations

In [15]:
print (2+2)
print (2-2)
print (2*2)
print (2/2)
print (2**2)
print (2**3)

4
0
4
1.0
4
8

# We can even create bullets using markdown

* First item in the list
* second item in the list
* third item in the list
* etc
* etc
* etc

Back to regular text

## Defining Variables

Let's define two variables, `x` and `y` in the code cell below.

In [16]:
x = 3

y = 7

In [17]:
print ( x )

3

In [18]:
print ( y )

7

In [19]:
print ( x + y )

10

Jupyter Notebook includes MAGIC COMMANDS that allow us to SEE or INSPECT aspects of variables/objects in the environment!

In [20]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3
y          int     7

In [21]:
z = x/y

In [22]:
%whos

Variable   Type     Data/Info
-----------------------------
x          int      3
y          int      7
z          float    0.42857142857142855

## Data Types

There are many data types in programming languages like Python.
Data Types dictate what kind of operations we can do on the object!

The `type()` function is a function that returns the DATA TYPE of the input argument.

In [23]:
type ( x )

int

In [24]:
print ( type ( x ) )

<class 'int'>

In [25]:
type (y)

int

In [26]:
type(z)

float

In [27]:
print(type(z))

<class 'float'>

In [28]:
z

0.42857142857142855

In [29]:
x + z

3.4285714285714284

In [30]:
type ( x + z )

float

In [31]:
z * x

1.2857142857142856

In [32]:
type ( z * x)

float

## Strings 

A string data type that is FUNDAMENTALLY diffferent from `int` and `float` variables
Strings are charaacters, so think of letters, words, or phrases.

In [33]:
my_string = 'Canyen Palmer'

In [34]:
%whos

Variable    Type     Data/Info
------------------------------
my_string   str      Canyen Palmer
x           int      3
y           int      7
z           float    0.42857142857142855

In [35]:
type(my_string)

str

In [36]:
type('Canyen Palmer')

str

The `=` operator ASSIGNS values to objects, but the `==` operator is a CONDITIONAL or LOGICAL test about if the VALUES of objects are the same!

In [37]:
my_string == "Canyen Palmer"

True

In [38]:
type(my_string== 'Canyen Palmer')

bool

A `bool` or BOOLIAN data type is a true/false value. Python displays this as such as well.

String are "special" in that they can be SUBSET

In [39]:
len(my_string)

13

Integers do not have length in Python, but strings do however.

In [40]:
len(x)

TypeError: object of type 'int' has no len()

We can SLICE or INDEX or SUBSET the characters in a STRING!

The `[]` allow us to INDEX or access elements from within the string!

In [41]:
my_string[1]

'a'

In [42]:
my_string

'Canyen Palmer'

VERY IMPORTANT: Python is a ZERO Based Index Language. This mens that the first element is at `0`

In [43]:
my_string[0]

'C'

### Slicing

We can extract out more than just a SINGLE ELEMENT.

We can extract or SLICE muiltiple elements at a time!

We slice by including the `:` operator

The `:` operator has a START or BEGINNING index to the LEFT and an END or FINISH index to the RIGHT.

VERY IMPORTANT: the beggining index is INCLUSIVE but the ending is EXCLUSIVE!

In [44]:
my_string[0:3]

'Can'

In [45]:
len(my_string[0:3])

3

In [46]:
my_string[3]

'y'

In [47]:
my_string[1:3]

'an'

A shortcut to start from the beggining is to not include anything to the left of `:`

In [48]:
my_string[3]

'y'

In [49]:
my_string[:3}

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' (243688560.py, line 1)

In [50]:
my_string[:3]

'Can'

In [51]:
my_string[4]

'e'

In [52]:
my_string[:4]

'Cany'

If we exclude the ENDING index or we do not include an assignment to the right of `:` , we will return everything from the beggining to the end

In [53]:
my_string[1:]

'anyen Palmer'

In [54]:
my_string[2:]

'nyen Palmer'

If the Index is negative, that starts from the end.

In [55]:
my_string[1]

'a'

In [56]:
my_string[-1]

'r'

We can identify the LAST element as `[-1]`

In [57]:
my_string

'Canyen Palmer'

In [58]:
my_string[-1]

'r'

In [59]:
my_string[-2]

'e'

## List

The list is a container that holds a multitude of elements.

List are initialized or created with `[]`

In [62]:
an_empty_list = []

In [63]:
%hos

UsageError: Line magic function `%hos` not found.

In [64]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
my_string       str      Canyen Palmer
x               int      3
y               int      7
z               float    0.42857142857142855

In [65]:
len(an_empty_list)

0

In [66]:
type(an_empyt_list)

NameError: name 'an_empyt_list' is not defined

In [67]:
type(an_empty_list)

list

Let's now make a new list that contains 4 strings

In [68]:
the_golfers = ['tiger', 'scotty', 'jack', 'tommy']

In [69]:
len(the_golfers)

4

In [70]:
type(the_golffers)

NameError: name 'the_golffers' is not defined

In [71]:
type(the_golfers)

list

In [72]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
my_string       str      Canyen Palmer
the_golfers     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

List like strings can be indexed, sliced, or subset.

In [73]:
the_golfers[0]

'tiger'

In [74]:
the_golfers[1]

'scotty'

In [75]:
the_golffers[:2]

NameError: name 'the_golffers' is not defined

In [76]:
the_golfers[:2]

['tiger', 'scotty']

In [77]:
the_golfers[:-1]

['tiger', 'scotty', 'jack']

In [78]:
the_golfers[-1]

'tommy'

In [79]:
type(the_golfers[0])

str

In [80]:
type('tiger')

str

In [81]:
type(the_golfers)

list

In [82]:
print(the_golfers[0])
print(the_golfers[1])
print(the_golfers[2])
print(the_golfers[3])

tiger
scotty
jack
tommy

In [83]:
print ( type (the_golfers[0]))
print ( type (the_golfers[1]))
print ( type (the_golfers[2]))
print ( type (the_golfers[3]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [84]:
print(the_golfers)

['tiger', 'scotty', 'jack', 'tommy']

In [85]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
my_string       str      Canyen Palmer
the_golfers     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

## Iterate with for-loops

A for-loop allows us to APPLY an action or EXECUTE a procedure over and over again.

This way, we do not have to manually apply each action, or copy-paste (which is dangerous in coding)

A for-loop iterates over a SEQUENCE by changing the value of an ITERATING VARIABLE along that sequence.

In [86]:
for a_golfer in the_golfers:
    print(a_golfer)

tiger
scotty
jack
tommy

In [87]:
%whos

Variable        Type     Data/Info
----------------------------------
a_golfer        str      tommy
an_empty_list   list     n=0
my_string       str      Canyen Palmer
the_golfers     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

In [88]:
the_golfers[-1]

'tommy'

In [89]:
a_golfer

'tommy'

A common way to create or define a for-loop is with a `range()` function.

In [90]:
range(4)

range(0, 4)

In [91]:
print(0)
print(1)
print(2)
print(3)

0
1
2
3

In [92]:
for n in range(4):
    print(n)

0
1
2
3

In [93]:
%whos

Variable        Type     Data/Info
----------------------------------
a_golfer        str      tommy
an_empty_list   list     n=0
my_string       str      Canyen Palmer
n               int      3
the_golfers     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

The `range()` function is often used to GENERATE a SEQUENCE of INTEGERS to SUBSET lists!

In [94]:
for m in range(4):
    print(the_golfers[m])

tiger
scotty
jack
tommy

In [95]:
for a_golfer in the_golfers:
    print(a_golfer)

tiger
scotty
jack
tommy

We do not need to HARD CODE the 4 in `range()`. We can use the `len()` function to give us the LENGTH of the list!

In [96]:
len(the_golfers)

4

In [97]:
for n in range(len(the_golfers)):
    print(the_golfers[n])

tiger
scotty
jack
tommy

## List are heterogeneous

List can contain multiple data types.

In [98]:
another_list = [1, 1.0, 'one', "one", '1.0', True]

In [99]:
another_list

[1, 1.0, 'one', 'one', '1.0', True]

In [100]:
%whos

Variable        Type     Data/Info
----------------------------------
a_golfer        str      tommy
an_empty_list   list     n=0
another_list    list     n=6
m               int      3
my_string       str      Canyen Palmer
n               int      3
the_golfers     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

In [101]:
len(another_list)

6

In [102]:
for an_element in another_list:
    print(type(an_element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [103]:
type(another_list[0])

int

In [104]:
type(another_list[1])

float

In [105]:
type(another_list[-1])

bool