## CMPINF 2100 Week 03 | Counting Unique Values in List:

This example will show how to count the number of times a Unique Value appears within a list. We will use the `set()` function, list methods, and comprehensions in this example.

In [1]:
my_list = 7 * [ 'tiger', 'rory', 'scotty', 'jason' ]

In [2]:
print(len(my_list))

28

In [3]:
my_list

['tiger',
 'rory',
 'scotty',
 'jason',
 'tiger',
 'rory',
 'scotty',
 'jason',
 'tiger',
 'rory',
 'scotty',
 'jason',
 'tiger',
 'rory',
 'scotty',
 'jason',
 'tiger',
 'rory',
 'scotty',
 'jason',
 'tiger',
 'rory',
 'scotty',
 'jason',
 'tiger',
 'rory',
 'scotty',
 'jason']

#### What are the Unique Values in `my_list` ?

We can use the `set()` function to identify ALL unique values contained in the list.

In [4]:
unique_list_values = set(my_list)

In [5]:
len(unique_list_values)

4

In [6]:
unique_list_values

{'jason', 'rory', 'scotty', 'tiger'}

In [7]:
type(unique_list_values)

set

A set in Python are surrounded by `{}` like dictionaries, but DO NOT use **KEY:VALUE** pairs!

In [8]:
unique_list_values_as_list = list(unique_list_values)

In [9]:
type(unique_list_values_as_list)

list

In [10]:
unique_list_values_as_list

['scotty', 'rory', 'tiger', 'jason']

Let's sort the unique values in the list so that we can have a consistent for-loop

In [11]:
unique_list_values_as_list.sort()

In [12]:
unique_list_values_as_list

['jason', 'rory', 'scotty', 'tiger']

#### How many entries or records exist for each unique value in `my_list` ?

Alternatively, we are asking whwat are the COUNTS associated with each unique value?

The `.count()` method will count the number of times a specific VALUE appears within a list!

In [13]:
my_list.count('tiger')

7

In [14]:
my_list.count('rory')

7

Lets contine the result of `set()` with the `.count()` method. This allows us to work programmatically!

In [15]:
my_list.count(unique_list_values_as_list[0])

7

In [16]:
unique_list_values_as_list

['jason', 'rory', 'scotty', 'tiger']

In [17]:
unique_list_values_as_list[0]

'jason'

In [18]:
my_list.count(unique_list_values_as_list[1])

7

In [19]:
my_list.count(unique_list_values_as_list[2])

7

In [20]:
my_list.count(unique_list_values_as_list[3])

7

Let's use a List Comprehension to iterate over the unique values. We will apply the `.count()` method to each unique value and we want to organize the results into a new list.

`<output> = [ <action applied on a variable> for <variable> in <sequence> ]`

In [21]:
[ my_list.count(unique_value) for unique_value in unique_list_values_as_list ]

[7, 7, 7, 7]

The list comprehension does not provide useful Names or Context around the contents of the list.

Which count corresponds to `'tiger'` ?

The **dictionary** allows associating a *key* with each *value*. The key can be used to provide useful descriptive information.

We therefore need to iterate using a dictionary comprehension.

In [22]:
{ a_key: my_list.count( a_key ) for a_key in unique_list_values_as_list }

{'jason': 7, 'rory': 7, 'scotty': 7, 'tiger': 7}

#### Try it again

This time, create a list where the values have different counts!

In [23]:
my_list2 = 5 * ['tiger'] + 4 * ['rory'] + 3 * ['scotty'] + 1 * ['jason']

In [24]:
my_list2

['tiger',
 'tiger',
 'tiger',
 'tiger',
 'tiger',
 'rory',
 'rory',
 'rory',
 'rory',
 'scotty',
 'scotty',
 'scotty',
 'jason']

In [25]:
unique_list2_set = set (my_list2)

In [26]:
unique_list2_set

{'jason', 'rory', 'scotty', 'tiger'}

In [27]:
unique_list2_values = list(unique_list2_set)

In [28]:
unique_list2_values

['scotty', 'rory', 'tiger', 'jason']

In [29]:
unique_list2_values.sort()

In [30]:
unique_list2_values

['jason', 'rory', 'scotty', 'tiger']

In [31]:
value_counts_in_list = { a_key: my_list2.count( a_key ) for a_key in unique_list2_values }

In [32]:
value_counts_in_list

{'jason': 1, 'rory': 4, 'scotty': 3, 'tiger': 5}