## CMPINF 2100 Week 05 | Combine DataFrames: Join or Merge

### Import Modules

In [1]:
import numpy as np
import pandas as pd

### Read Data

Let's read in the 3 CSV files from the previous lecture:

In [2]:
dfA = pd.read_csv( 'Example_A.csv' )

In [3]:
dfB = pd.read_csv( 'Example_B.csv' )

In [4]:
dfC = pd.read_csv( 'Example_C.csv' )

Examining the `dfA` & `dfB` DataFrames.

In [5]:
dfA

    A   B     C    D   E   F
0   a   0  -100  Jan  aa  10
1   b   1  -200  Feb  aa  20
2   c   2  -300  Mar  aa  10
3   d   3  -400  Apr  bb  20
4   e   4  -500  May  bb  10
5   f   5  -600  Jun  bb  20
6   g   6  -700  Jul  cc  10
7   h   7  -800  Aug  cc  20
8   i   8  -900  Sep  cc  10
9   j   9 -1000  Oct  dd  20
10  k  10 -1100  Nov  dd  10
11  l  11 -1200  Dec  dd  20

In [6]:
dfB

    E    G
0  aa  100
1  bb  200
2  dd  400

In [7]:
dfA.shape

(12, 6)

In [8]:
dfB.shape

(3, 2)

JOINING or MERGING data COMBINE DataFrames NOT based on the row or column POSITION... but based on the VALUES of variables (columns)!

### Join or Merge

The `pd.merge()` function JOINS two DataFrames

We need to specify the TWO DataFrames and we need to specify the column (or columns) that the two are JOINED ON!

The JOINING variable is referred to as the **KEY**!

In [9]:
pd.merge(dfA, dfB, on='E')

   A   B     C    D   E   F    G
0  a   0  -100  Jan  aa  10  100
1  b   1  -200  Feb  aa  20  100
2  c   2  -300  Mar  aa  10  100
3  d   3  -400  Apr  bb  20  200
4  e   4  -500  May  bb  10  200
5  f   5  -600  Jun  bb  20  200
6  j   9 -1000  Oct  dd  20  400
7  k  10 -1100  Nov  dd  10  400
8  l  11 -1200  Dec  dd  20  400

In [10]:
pd.merge(dfA, dfB, on='E').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       9 non-null      object
 1   B       9 non-null      int64
 2   C       9 non-null      int64
 3   D       9 non-null      object
 4   E       9 non-null      object
 5   F       9 non-null      int64
 6   G       9 non-null      int64
dtypes: int64(4), object(3)
memory usage: 632.0+ bytes

In [11]:
dfA.shape

(12, 6)

What happened to the missing 3 rows in `dfA`?

The answer has to do with the UNIQUE values of the KEY between the LEFT and RIGHT datasets!

In [12]:
dfA

    A   B     C    D   E   F
0   a   0  -100  Jan  aa  10
1   b   1  -200  Feb  aa  20
2   c   2  -300  Mar  aa  10
3   d   3  -400  Apr  bb  20
4   e   4  -500  May  bb  10
5   f   5  -600  Jun  bb  20
6   g   6  -700  Jul  cc  10
7   h   7  -800  Aug  cc  20
8   i   8  -900  Sep  cc  10
9   j   9 -1000  Oct  dd  20
10  k  10 -1100  Nov  dd  10
11  l  11 -1200  Dec  dd  20

In [13]:
dfB

    E    G
0  aa  100
1  bb  200
2  dd  400

In [14]:
pd.merge(dfA, dfB, on='E')

   A   B     C    D   E   F    G
0  a   0  -100  Jan  aa  10  100
1  b   1  -200  Feb  aa  20  100
2  c   2  -300  Mar  aa  10  100
3  d   3  -400  Apr  bb  20  200
4  e   4  -500  May  bb  10  200
5  f   5  -600  Jun  bb  20  200
6  j   9 -1000  Oct  dd  20  400
7  k  10 -1100  Nov  dd  10  400
8  l  11 -1200  Dec  dd  20  400

The `E == 'cc'` value is not present in the joined dataset.

This is because in addition to specifying the KEY that we JOIN ON... we alsso must specify **HOW** the LEFT and RIGHT dataframes are JOINED!!!

By default, `Pandas` uses **inner** joins!

The inner join keeps the values that are consistent for the KEY between the two datasets!

Or... the KEY VALUES must be shared between the two!

In [15]:
pd.merge(dfA, dfB, on='E', how='inner')

   A   B     C    D   E   F    G
0  a   0  -100  Jan  aa  10  100
1  b   1  -200  Feb  aa  20  100
2  c   2  -300  Mar  aa  10  100
3  d   3  -400  Apr  bb  20  200
4  e   4  -500  May  bb  10  200
5  f   5  -600  Jun  bb  20  200
6  j   9 -1000  Oct  dd  20  400
7  k  10 -1100  Nov  dd  10  400
8  l  11 -1200  Dec  dd  20  400

There are other types of joins, the **Left** join keeps all of the key values present in the left dataset

In [16]:
pd.merge(dfA, dfB, on='E', how='left')

    A   B     C    D   E   F      G
0   a   0  -100  Jan  aa  10  100.0
1   b   1  -200  Feb  aa  20  100.0
2   c   2  -300  Mar  aa  10  100.0
3   d   3  -400  Apr  bb  20  200.0
4   e   4  -500  May  bb  10  200.0
5   f   5  -600  Jun  bb  20  200.0
6   g   6  -700  Jul  cc  10    NaN
7   h   7  -800  Aug  cc  20    NaN
8   i   8  -900  Sep  cc  10    NaN
9   j   9 -1000  Oct  dd  20  400.0
10  k  10 -1100  Nov  dd  10  400.0
11  l  11 -1200  Dec  dd  20  400.0

NaN: Not an Number. 

This means that the value is missing we we do not know the value. 

In a left join, we are bringing together all of the key values from the other column (right dataframe), but must retain all key values present in the left dataframe.

So when this happens, we cannot determine the value of row G since there is no associateion, therefore we do not know. 

Conclusion: WE do not know the value of `G` associated with `E == 'cc'` . That is why those rows are MISSING in the JOINED dataset!

In [17]:
dfB

    E    G
0  aa  100
1  bb  200
2  dd  400

If we would instead use a RIGHT JOIN, then all KEY VALUES present in the RIGHT data set are retained!

In [18]:
pd.merge(dfA, dfB, on='E', how='right')

   A   B     C    D   E   F    G
0  a   0  -100  Jan  aa  10  100
1  b   1  -200  Feb  aa  20  100
2  c   2  -300  Mar  aa  10  100
3  d   3  -400  Apr  bb  20  200
4  e   4  -500  May  bb  10  200
5  f   5  -600  Jun  bb  20  200
6  j   9 -1000  Oct  dd  20  400
7  k  10 -1100  Nov  dd  10  400
8  l  11 -1200  Dec  dd  20  400

So for this example, the *right join* and the *inner join* produce the same result!

The left join generated the MISSING VALUES.

**However**, that may not always be the case.

You might shave situations where the *inner* join behave like the *left* join and the *right* join then generates the MISSINGS!

Let's see what happens if we use a *right* join between `dfA` and `dfC`.

In [19]:
dfA

    A   B     C    D   E   F
0   a   0  -100  Jan  aa  10
1   b   1  -200  Feb  aa  20
2   c   2  -300  Mar  aa  10
3   d   3  -400  Apr  bb  20
4   e   4  -500  May  bb  10
5   f   5  -600  Jun  bb  20
6   g   6  -700  Jul  cc  10
7   h   7  -800  Aug  cc  20
8   i   8  -900  Sep  cc  10
9   j   9 -1000  Oct  dd  20
10  k  10 -1100  Nov  dd  10
11  l  11 -1200  Dec  dd  20

In [20]:
dfC

    F    H
0  10  AAA
1  20  BBB
2  30  CCC
3  40  DDD

In [21]:
pd.merge(dfA, dfC, on='F', how='right')

      A     B       C    D    E   F    H
0     a   0.0  -100.0  Jan   aa  10  AAA
1     c   2.0  -300.0  Mar   aa  10  AAA
2     e   4.0  -500.0  May   bb  10  AAA
3     g   6.0  -700.0  Jul   cc  10  AAA
4     i   8.0  -900.0  Sep   cc  10  AAA
5     k  10.0 -1100.0  Nov   dd  10  AAA
6     b   1.0  -200.0  Feb   aa  20  BBB
7     d   3.0  -400.0  Apr   bb  20  BBB
8     f   5.0  -600.0  Jun   bb  20  BBB
9     h   7.0  -800.0  Aug   cc  20  BBB
10    j   9.0 -1000.0  Oct   dd  20  BBB
11    l  11.0 -1200.0  Dec   dd  20  BBB
12  NaN   NaN     NaN  NaN  NaN  30  CCC
13  NaN   NaN     NaN  NaN  NaN  40  DDD

In [22]:
pd.merge(dfA, dfC, on='F', how='left')

    A   B     C    D   E   F    H
0   a   0  -100  Jan  aa  10  AAA
1   b   1  -200  Feb  aa  20  BBB
2   c   2  -300  Mar  aa  10  AAA
3   d   3  -400  Apr  bb  20  BBB
4   e   4  -500  May  bb  10  AAA
5   f   5  -600  Jun  bb  20  BBB
6   g   6  -700  Jul  cc  10  AAA
7   h   7  -800  Aug  cc  20  BBB
8   i   8  -900  Sep  cc  10  AAA
9   j   9 -1000  Oct  dd  20  BBB
10  k  10 -1100  Nov  dd  10  AAA
11  l  11 -1200  Dec  dd  20  BBB

In [23]:
pd.merge(dfA, dfC, on='F', how='inner')

    A   B     C    D   E   F    H
0   a   0  -100  Jan  aa  10  AAA
1   c   2  -300  Mar  aa  10  AAA
2   e   4  -500  May  bb  10  AAA
3   g   6  -700  Jul  cc  10  AAA
4   i   8  -900  Sep  cc  10  AAA
5   k  10 -1100  Nov  dd  10  AAA
6   b   1  -200  Feb  aa  20  BBB
7   d   3  -400  Apr  bb  20  BBB
8   f   5  -600  Jun  bb  20  BBB
9   h   7  -800  Aug  cc  20  BBB
10  j   9 -1000  Oct  dd  20  BBB
11  l  11 -1200  Dec  dd  20  BBB

Missing values can be 'generated' by using joins!

We are bringing together columns from one dataset into another dataset.

If we do not have an exact associate between the columns, then missing values occur.

Professor: "I personally like to use the *larger* dataset as the **left** and the smaller dataset as the right.

The `pd.merge()` function is available as a method via the `.merge()` method for Pandas DataFrames.

In [24]:
dfA.merge( dfC, on='F', how='right')

      A     B       C    D    E   F    H
0     a   0.0  -100.0  Jan   aa  10  AAA
1     c   2.0  -300.0  Mar   aa  10  AAA
2     e   4.0  -500.0  May   bb  10  AAA
3     g   6.0  -700.0  Jul   cc  10  AAA
4     i   8.0  -900.0  Sep   cc  10  AAA
5     k  10.0 -1100.0  Nov   dd  10  AAA
6     b   1.0  -200.0  Feb   aa  20  BBB
7     d   3.0  -400.0  Apr   bb  20  BBB
8     f   5.0  -600.0  Jun   bb  20  BBB
9     h   7.0  -800.0  Aug   cc  20  BBB
10    j   9.0 -1000.0  Oct   dd  20  BBB
11    l  11.0 -1200.0  Dec   dd  20  BBB
12  NaN   NaN     NaN  NaN  NaN  30  CCC
13  NaN   NaN     NaN  NaN  NaN  40  DDD

The `.merge()` method allows us to chain togeter multiple joins in a single line of code.

Let's join `dfA` with `dfB` and join that result with `dfC`.

In [25]:
pd.merge(dfA, dfB, on='E', how='left').merge(dfC, on='F', how='right')

      A     B       C    D    E   F      G    H
0     a   0.0  -100.0  Jan   aa  10  100.0  AAA
1     c   2.0  -300.0  Mar   aa  10  100.0  AAA
2     e   4.0  -500.0  May   bb  10  200.0  AAA
3     g   6.0  -700.0  Jul   cc  10    NaN  AAA
4     i   8.0  -900.0  Sep   cc  10    NaN  AAA
5     k  10.0 -1100.0  Nov   dd  10  400.0  AAA
6     b   1.0  -200.0  Feb   aa  20  100.0  BBB
7     d   3.0  -400.0  Apr   bb  20  200.0  BBB
8     f   5.0  -600.0  Jun   bb  20  200.0  BBB
9     h   7.0  -800.0  Aug   cc  20    NaN  BBB
10    j   9.0 -1000.0  Oct   dd  20  400.0  BBB
11    l  11.0 -1200.0  Dec   dd  20  400.0  BBB
12  NaN   NaN     NaN  NaN  NaN  30    NaN  CCC
13  NaN   NaN     NaN  NaN  NaN  40    NaN  DDD

I am on purpose trying to generate the maximum amount of missings. The inner join used by `Pandas` by default tries to minimize MISSINGS. 

Let's assign the result of the join to a new variable.

In [26]:
df= pd.merge(dfA, dfB, on='E', how='left').merge(dfC, on='F', how='right')

In [27]:
df

      A     B       C    D    E   F      G    H
0     a   0.0  -100.0  Jan   aa  10  100.0  AAA
1     c   2.0  -300.0  Mar   aa  10  100.0  AAA
2     e   4.0  -500.0  May   bb  10  200.0  AAA
3     g   6.0  -700.0  Jul   cc  10    NaN  AAA
4     i   8.0  -900.0  Sep   cc  10    NaN  AAA
5     k  10.0 -1100.0  Nov   dd  10  400.0  AAA
6     b   1.0  -200.0  Feb   aa  20  100.0  BBB
7     d   3.0  -400.0  Apr   bb  20  200.0  BBB
8     f   5.0  -600.0  Jun   bb  20  200.0  BBB
9     h   7.0  -800.0  Aug   cc  20    NaN  BBB
10    j   9.0 -1000.0  Oct   dd  20  400.0  BBB
11    l  11.0 -1200.0  Dec   dd  20  400.0  BBB
12  NaN   NaN     NaN  NaN  NaN  30    NaN  CCC
13  NaN   NaN     NaN  NaN  NaN  40    NaN  DDD

In [28]:
type(df)

pandas.core.frame.DataFrame

In [29]:
df.sort_values('B', inplace=True, ignore_index=True)

In [30]:
df

      A     B       C    D    E   F      G    H
0     a   0.0  -100.0  Jan   aa  10  100.0  AAA
1     b   1.0  -200.0  Feb   aa  20  100.0  BBB
2     c   2.0  -300.0  Mar   aa  10  100.0  AAA
3     d   3.0  -400.0  Apr   bb  20  200.0  BBB
4     e   4.0  -500.0  May   bb  10  200.0  AAA
5     f   5.0  -600.0  Jun   bb  20  200.0  BBB
6     g   6.0  -700.0  Jul   cc  10    NaN  AAA
7     h   7.0  -800.0  Aug   cc  20    NaN  BBB
8     i   8.0  -900.0  Sep   cc  10    NaN  AAA
9     j   9.0 -1000.0  Oct   dd  20  400.0  BBB
10    k  10.0 -1100.0  Nov   dd  10  400.0  AAA
11    l  11.0 -1200.0  Dec   dd  20  400.0  BBB
12  NaN   NaN     NaN  NaN  NaN  30    NaN  CCC
13  NaN   NaN     NaN  NaN  NaN  40    NaN  DDD

You need to join data together before you can explore it.

The goal or reasoning for joining data is to allow us to study the RELATIONSHIPS between many more variables!

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     float64
 2   C       12 non-null     float64
 3   D       12 non-null     object
 4   E       12 non-null     object
 5   F       14 non-null     int64
 6   G       9 non-null      float64
 7   H       14 non-null     object
dtypes: float64(3), int64(1), object(4)
memory usage: 1.0+ KB

In [32]:
df.describe()

               B            C          F           G
count  12.000000    12.000000  14.000000    9.000000
mean    5.500000  -650.000000  17.857143  233.333333
std     3.605551   360.555128   8.925824  132.287566
min     0.000000 -1200.000000  10.000000  100.000000
25%     2.750000  -925.000000  10.000000  100.000000
50%     5.500000  -650.000000  20.000000  200.000000
75%     8.250000  -375.000000  20.000000  400.000000
max    11.000000  -100.000000  40.000000  400.000000

### Write to Files:

We created a joined dataset. Let's save that JOINED dataset to a CSV file!

By default, the `to_csv()` method writes teh `.index` attribute!

But, the CSV file does not know that the `.index()` attribute is something 'special'.

In [38]:
df.to_csv('joined_data.csv', index=False)

In [39]:
import os

In [40]:
os.listdir()

['.ipynb_checkpoints',
 'Example_A.csv',
 'Example_B.csv',
 'Example_C.csv',
 'Excel_Example_Data.xlsx',
 'filter_pandas_with_strings.ipynb',
 'joined_data.csv',
 'week_05_combine_concat.ipynb',
 'week_05_combine_joins_or_merge.ipynb',
 'week_05_read_data.ipynb']

Let's check that everything is the same by reading in the written data.

In [41]:
df_again = pd.read_csv('joined_data.csv')

In [42]:
df_again

      A     B       C    D    E   F      G    H
0     a   0.0  -100.0  Jan   aa  10  100.0  AAA
1     b   1.0  -200.0  Feb   aa  20  100.0  BBB
2     c   2.0  -300.0  Mar   aa  10  100.0  AAA
3     d   3.0  -400.0  Apr   bb  20  200.0  BBB
4     e   4.0  -500.0  May   bb  10  200.0  AAA
5     f   5.0  -600.0  Jun   bb  20  200.0  BBB
6     g   6.0  -700.0  Jul   cc  10    NaN  AAA
7     h   7.0  -800.0  Aug   cc  20    NaN  BBB
8     i   8.0  -900.0  Sep   cc  10    NaN  AAA
9     j   9.0 -1000.0  Oct   dd  20  400.0  BBB
10    k  10.0 -1100.0  Nov   dd  10  400.0  AAA
11    l  11.0 -1200.0  Dec   dd  20  400.0  BBB
12  NaN   NaN     NaN  NaN  NaN  30    NaN  CCC
13  NaN   NaN     NaN  NaN  NaN  40    NaN  DDD